@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Josefin Sans", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  .btn {
    @apply px-4 py-2 text-smoky border-2 border-smoky rounded transition duration-200 hover:bg-smoky/10
  }

  .btn-primary {
    @apply !border-primary !text-primary hover:!bg-primary/10
  }

  .btn-white {
    @apply !border-white !text-white hover:!bg-white/10
  }

  .btn-smoky {
    @apply !border-smoky !text-smoky hover:!bg-smoky/10
  }

  .form-control {
    @apply rounded-lg border-2 border-white text-white p-3 flex space-x-2 items-center
  }

  .form-control input, select, textarea {
    @apply bg-transparent outline-none border-none focus:outline-none focus:border-none focus:ring-0 w-full text-white
  }

  /* Custom scrollbar styles */
  ::webkit-scrollbar {
    width: 4px;
    /* Set the width of the scrollbar */
  }

  ::webkit-scrollbar-thumb {
    @apply bg-primary
  }

  ::webkit-scrollbar-track {
    @apply bg-secondary
  }
}